*{font-size:20pt;}
body {color:#FFFFFF;font-size:24pt;background:#0099dd; }
input {color:#FFFFFF;font-size:24pt;background:#99CCCC; }
	table {	border-collapse:collapse; width:80%}
	td    {	border:1px dotted #0000CC;}

